@font-face{
    font-family: "IBM Plex Sans";
    src: local("IBM Plex Sans"),
        url("IBMPlexSans-Regular.woff2") format("woff2"),
        url("IBMPlexSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "IBM Plex Sans Condensed";
    src: local("IBM Plex Sans Condensed"),
        url("IBMPlexSansCondensed-Regular.woff2") format("woff2"),
        url("IBMPlexSansCondensed-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}