.comment{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.comment > img {
    margin-left: 5px;
    margin-right: 5px;
}
.comment .name {
    font-weight: bold;
}
.form-center{
    display: flex;
    justify-content: center;
}
.comment-form{
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.comment-form > div{
    display: flex;
}
.comment-form > div > * {
    flex: 1;
    margin: 5px;
}
.comment-form > textarea{
    height: 5em;
}

article, .comment-panel, .tags{
    background-color: rgb(240, 255, 228);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.tags > span{
    font-weight: bold;
}

#captcha > input[type="number"] {
    height: 1em;
}
#captcha{
    align-items: center;
}