<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}Adrianistán</title>
        <link rel="stylesheet" href="/static/fonts.css" type="text/css">
        <link rel="sitemap" href="/sitemap.xml" />
        <link rel="alternate" type="application/rss+xml" href="https://blog.adrianistan.eu/rss.xml" />
        <link rel="stylesheet" href="/static/css/main.css" type="text/css">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <meta name="conexoo_verification" content="93b28d73fc3e58f1cd708eefc9fdc3627ca5f798f95209d128dfe0a99bba0591519591809d6d9f280e561b3a0283122a423661f7f036e9c77ef1621c57eb7923">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20035972-33"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-20035972-33');
        </script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-6944504853839360",
                enable_page_level_ads: true
            });
        </script>
        {% block css %}{% endblock css %}
        {% block meta %}{% endblock meta %}
    </head>
    <body vocab="http://schema.org/" typeof="Blog" resource="https://blog.adrianistan.eu">
        <div class="title">
            <h1><a href="/">Adrianistán</a></h1>
            <h2>El blog de Adrián Arroyo</h2>
        </div>
        <br>
        <nav>
            <a href="http://adrianistan.eu">Acerca de mí</a>
            <a href="/rust-101-tutorial-rust-espanol">Rust</a>
            <a href="/tag/programacion">Programación</a>
            <a href="https://tergaxon.com">Tergaxon</a>
            <a href="/contacto">Contacto</a>
            <form class="search" action="https://cse.google.com/cse" method="GET">
                <input type="hidden" name="cx" value="partner-pub-6944504853839360:9486428818">
                <input name="ie" type="hidden" value="UTF-8">
                <input placeholder="Buscar..." type="search" name="q"><input id="search-button" value="&#x1F50D;" type="submit">
            </form>
        </nav>
        <main>
            <div id="center">   
        {% block main %}

        {% endblock main %}
            </div>
        </main>
        <footer property="author" typeof="Person">
            <meta property="name" content="Adrián Arroyo Calle">
            {% block footer %}
            &copy; Adrián Arroyo Calle - 2012-2020
            <br>
            Contenido bajo licencia Creative-Commons 4.0 BY-NC-SA salvo que se indique lo contrario.
            <br>
            Este blog funciona gracias a <a href="https://github.com/aarroyoc/diario">Diario</a>, un sistema de blogging programado en Rust
            {% endblock footer %}
        </footer>
    </body>
</html>