{% extends "base" %}
{% block title %}Contacto - {% endblock title %}

{% block css %}
<link rel="stylesheet" href="/static/css/contact.css">
{% endblock css %}

{% block main %}
<h3>Contacto</h3>
<div>
  <p>Puedes contactar conmigo de las siguientes formas:</p>
  <ul>
    <li>Email: aarroyoc (AT) adrianistan.eu</li>
    <li>Mastodon: aarroyoc@castilla.social</li>
    <li>Twitter/X: @aarroyoca</li>
  </ul>
</div>
{% endblock main %}
